<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Profile</title>
</head>
<body>
<h1>User Profile</h1>
<form th:action="@{/service/profile}" th:method="PATCH" enctype="multipart/form-data">
    <img th:src="@{/avatar/{id}(id=${person.getId()})}" width="100" height="100"/>
    Аватар: <input type="file" name="avatar">
    Никнейм: <label>
    <input type="text" name="nickname">
    </label>
    <input type="submit" value="Сохранить">
</form>
<p>ID: <span th:text="${person.getId()}"></span></p>
<p>Login: <span th:text="${person.getLogin()}"></span></p>
</body>
</html>