.setting-img {
    background: transparent;
    border-radius: 50%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: calc((1vw + 1vh) * 5);
    height: calc((1vw + 1vh) * 5);
    margin-top: calc((1vw + 1vh) * 3);
    border: 1px solid white;
}

.setting-img-small {
    background: transparent;
    border-radius: 50%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: calc((1vw + 1vh) * 3);
    height: calc((1vw + 1vh) * 3);
    border: 1px solid white;
}

.setting-img_change {
    background: transparent;
    border-radius: 50%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: calc((1vw + 1vh) * 5);
    height: calc((1vw + 1vh) * 5);
    margin-top: calc((1vw + 1vh) * 3);
}