<!--#set var="title" value="OptimizedHTML 5" -->
<!--#include virtual="/parts/header.html" -->

<div class="home">
	<div class="home__object" >
			<div class="home__pict">
				<nav>
					<ul class="home__head">
						<div class="top-line-decor"></div>
						<span class="top-menu__button">
							<img src="images/Frame.png" alt="Фон" class="menu__button">
						</span>
						<div class="top-line__decor__two"></div>
						<div class="slider-pagination"></div>
						<div class="slider-pagination__between"></div>
						<div class="slider-pagination__two"></div>
						<div class="slider-pagination__three"></div>
						<li><a href="/login" data-micromodal-open="modal-1">ВХОД</a></li>
							<div class="top-line-decoration"></div>
						<li><a href="/registration" class="pop"  >РЕГИСТРАЦИЯ</a></li>
						<a href="#" class="logo">
							<div class="line__top-vk"></div>
							<span class="head__img-wrapper">
								<img src="images/Vector.png" alt="Вездеход" class="vk__images">
							</span>
							<div class="line__top-tg"></div>
							<div class="pagination__line"></div>
							<span class="head__img-wrapper__two">
								<img src="images/tg.svg" alt="Вездеход" class="insta__images">
							</span>

						</a>
					</ul>
				</nav>

		<div class="home__block">
			<div class="block__h1">E D E M</div>
			<div class="block__p1">Мы представляем вам веб-приложение с <br>зашифрованным обменом файлов и данных.<br>С нами вы можете быть уверены в полной безопасности<br> вашей информации, благодаря надежным криптографическим<br> протоколам и современным технологиям защиты данных.</div>
		</div>

		<div class="home__prodaction">
			<div class="prodaction">project executors</div>
			<div class="line"></div>
			<div class="prodaction__p1">SENCHOS - <br>frontend developer</div>
			<div class="line__two"></div>
			<div class="prodaction__p2">NKULBAKA - <br>backend developer</div>
			<div class="line__three"></div>
			<div class="prodaction__p3">4RTER - <br>backend developer</div>
		</div>
			</div>
	</div>
</div>


<!--#include virtual="/parts/modal.html" -->
<!--#include virtual="/parts/footer.html" -->
